[submodule "backend/packet_server/core"]
	path = backend/packet_server/core
	url = https://github.com/PacketHelper/packet-helper-core.git
[submodule "backend/submodules/packet-helper-core"]
	path = backend/submodules/packet-helper-core
	url = https://github.com/PacketHelper/packet-helper-core/
